<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="dataSource" class="org.mariadb.jdbc.MariaDbDataSource">
    <constructor-arg
        value="jdbc:mariadb://irafe.com:3306/cafe?user=cafe&amp;password=xxxx"/>
  </bean>

  <bean id="dbUtils" class="kr.mjc.jacob.java.jdbc.DbUtils">
    <constructor-arg ref="dataSource"/>
  </bean>

  <bean id="userDao" class="kr.mjc.jacob.spring.day1.user.xmlconfig.UserDaoImpl">
    <constructor-arg ref="dbUtils"/>
  </bean>
</beans>